@model Mission_Site.Models.Mission

@{
    ViewBag.Title = "MissionFAQ";
}

<h2>@Html.DisplayFor(model => model.missionName)</h2>


<img src="@Html.DisplayFor(model => model.missionImage)" />

<div>
    <h4>Mission Info</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.presidentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.presidentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.missionAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.missionAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.missionLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.missionLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.missionClimate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.missionClimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.missionDominateReligion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.missionDominateReligion)
        </dd>

    </dl>

    <h4>Frequently Asked Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            What should I bring?
        </dt>

        <dd>
            Your scriptures and maybe some clothes
        </dd>

        <dt>
            How can I prepare?
        </dt>

        <dd>
            Read your scriptures and pray everyday.
        </dd>

        <dt>
            What are the people like?
        </dt>

        <dd>
            The best people in the world are in this mission.
        </dd>
    </dl>
</div>

