<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mission Possible</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/styles/custom.css")
    <link rel="stylesheet" type="text/css" href="~/Content/OurStyles.css">
</head>
<body class="back_@ViewBag.Title">
    <div class="navbar-fixed-top">

        <ul>
            <li><img src="~/Graphics/Tiecon.png" width="40" class="tieconl" /></li>
            <li class=" homelink">MISSION POSSIBLE</li>
            <li><img src="~/Graphics/Tiecon.png" width="40" class="tieconr" /></li>
            <li>@Html.ActionLink("Mission Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Missions", "MissionSelect", "Mission")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>



        </ul>

    </div>
    <div class="container body-content bodycont">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MissionPossible.Com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
